@use "../abtracts/mixin" as mixins;

.feature {
	&__features {
		padding: {
			top: 6.4rem;
			left: 3.3rem;
			right: 3.2rem;
			bottom: 9.1rem;
		}
	}
}

@include mixins.screen-tablet {
	.feature {
		padding: 11.2rem 38.5rem;
		&__features {
			display: flex;
			flex-wrap: wrap;
			gap: 1.1rem;
		}
	}
}

@include mixins.screen-laptop {
	.feature {
		padding: 11.2rem 38.5rem;
		&__features {
			display: flex;
			flex-wrap: wrap;
			gap: 1.1rem;
		}
	}
}
