@use "../abtracts/mixin" as mixins;

.home {
	&__hero-image {
		height: 29.4rem;
	}

	&__images {
		height: 27.1rem;
	}

	&__stories {
		position: relative;
		padding: {
			left: 3.3rem;
			top: 7.2rem;
			right: 2.4rem;
			bottom: 7.2rem;
		}

		&--action {
			&_arrow {
				@include mixins.center-arrow(1.8rem, 0.25rem);
			}
		}

		&-white {
			background-color: #fff;
			color: #000;

			p {
				color: #000;
				opacity: 0.6;
			}

			&--action {
				color: #000;

				&_arrow {
					stroke: #000;
				}
			}
		}

		&-dark {
			&::before {
				@include mixins.before-line-gradient;
			}
		}
	}

	&__features {
		padding: 8rem 8.667%;
	}
}

@include mixins.screen-tablet {
	.home {
		&__posts {
			display: flex;
			flex-wrap: wrap;
		}

		&__features {
			padding: 12rem 20.24%;
		}

		&__group {
			display: flex;
			height: 60rem;

			&-dark {
				height: 65rem;
			}
		}

		&__invert {
			flex-direction: row-reverse;
		}

		&__stories {
			width: 64.454%;
			height: 100%;
			margin: {
				top: auto;
				bottom: auto;
			}

			padding: {
				top: 17.3rem;
				left: 5.4rem;
				right: 5.4rem;
			}

			&-dark {
				&::before {
					@include mixins.before-line-gradient;
					left: 0;
					top: 27%;
					width: 0.6rem;
					height: 42%;
				}
			}
		}

		&__afterImage {
			width: 35.546%;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: cover;
		}
	}
}

@include mixins.screen-laptop {
	.home {
		&__stories {
			width: 42.36%;
			padding: {
				left: 6%;
				right: 6%;
			}

			&-dark {
				&::before {
					height: 38%;
				}
			}
		}

		&__afterImage {
			width: 57.64%;
		}

		&__features {
			display: flex;
			justify-content: space-between;
			padding: {
				left: 16.5rem;
				right: 16.5rem;
				bottom: 1.6rem;
			}

			div {
				margin-bottom: 0;
			}
		}
	}
}
