@use "../abtracts/mixin" as mixins;

.home {
	&__hero-image {
		height: 29.4rem;
	}

	&__images {
		height: 27.1rem;
	}

	&__stories {
		position: relative;
		padding: {
			left: 3.3rem;
			top: 7.2rem;
			right: 2.4rem;
			bottom: 7.2rem;
		}

		&--action {
			&_arrow {
				@include mixins.center-arrow(1.8rem, 0.25rem);
			}
		}

		&-white {
			background-color: #fff;
			color: #000;

			p {
				color: #000;
				opacity: 0.6;
			}

			&--action {
				color: #000;

				&_arrow {
					stroke: #000;
				}
			}
		}

		&-dark {
			&::before {
				@include mixins.before-line-gradient;
			}
		}
	}

	&__features {
		padding: 8rem 3.3rem;
	}
}

@include mixins.screen-tablet {
	.home {
		&__posts {
			display: flex;
			flex-wrap: wrap;
		}

		&__features {
			padding: 12rem 15.5rem;
		}
	}
}
