@use "../abtracts/mixin" as mixins;

.home {
	&__hero-image {
		height: 29.4rem;
	}

	&__images {
		height: 27.1rem;
	}

	&__stories {
		position: relative;
		background-color: #000;
		color: #fff;
		padding: {
			left: 3.3rem;
			top: 7.2rem;
			right: 2.4rem;
			bottom: 7.2rem;
		}

		&--title {
			font-size: 3.2rem;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.333rem;
			line-height: 4rem;
			margin-bottom: 1.6rem;
		}

		&--content {
			font-size: 1.5rem;
			line-height: 2.5rem;
			color: #dfdfdf;
			opacity: 0.7;
			margin-bottom: 2.3rem;
		}

		&--action {
			@include mixins.links;

			&_arrow {
				@include mixins.center-arrow(1.8rem, 0.25rem);
			}
		}

		&-white {
			background-color: #fff;
			color: #000;

			&--content {
				color: #000;
				opacity: 0.6;
			}

			&--action {
				color: #000;

				&_arrow {
					stroke: #000;
				}
			}
		}

		&-dark {
			&::before {
				content: "";
				position: absolute;
				width: 12.8rem;
				height: 0.6rem;
				background: linear-gradient(
					26.57deg,
					#ffc593 0.42%,
					#bc7198 43.46%,
					#5a77ff 83.33%
				);
				top: 0;
			}
		}
	}

	&__features {
		padding: 8rem 3.3rem;
	}
}
