@use "../abtracts/mixin" as mixins;

.pricing {
	&__subscription {
		padding: {
			top: 6.4rem;
			left: 2.9rem;
			right: 2.8rem;
			bottom: 6.4rem;
		}
		margin-bottom: 6.4rem;

		&--plans {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: {
				left: 3.1rem;
				right: 3.2rem;
			}
			margin-bottom: 4rem;

			font-size: 1.8rem;
			line-height: 2.5rem;
			font-weight: 700;

			&__bold {
				transition: all 0.2s ease-in-out 0.2s;
				opacity: 1;
			}

			&__blur {
				opacity: 0.5;
			}

			&-toggle {
				position: relative;
				background-color: #f5f5f5;
				padding: 0.4rem;
				width: 6.4rem;
				height: 3.2rem;
				border-radius: 1.6rem;
				cursor: pointer;
				@include mixins.transition();

				&_switch {
					width: 2.4rem;
					height: 2.4rem;
					background-color: #000000;
					border-radius: 50%;
					@include mixins.transition();
				}
			}

			&__yearly {
				position: absolute;
				background-color: #fff;

				transform: translateX(3.2rem);
				@include mixins.transition();
			}

			&__yearlyBg {
				background-color: #000000;
				@include mixins.transition();
			}
		}
	}
}
