@use "../../abtracts/mixin" as mixins;

.features {
	text-align: center;
	line-height: 2.5rem;

	&:not(:last-child) {
		margin-bottom: 5.6rem;
	}

	&__svg {
		margin-bottom: 4.8rem;
		height: 7.2rem;
	}

	h3 {
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 1.6rem;
	}

	p {
		font-size: 1.5rem;
		opacity: 0.65;
	}
}

@include mixins.screen-tablet {
	.features {
		flex-basis: 49.2%;

		&:not(:last-child) {
			margin-bottom: 7.2rem;
		}
	}
}
