@use "../../abtracts/mixin" as mixins;

.hero-content {
	&__content {
		background-color: #000;
		color: white;

		&--award {
			text-transform: uppercase;
			font-size: 1.2rem;
			font-weight: bold;
			letter-spacing: 0.2rem;
			margin-bottom: 1.6rem;
		}

		&--title {
			font-size: 3.2rem;
			font-weight: 700;
			line-height: 4rem;
			letter-spacing: 0.333rem;
			margin-bottom: 1.6rem;
		}

		&--author {
			font-size: 1.3rem;
			margin-bottom: 2.4rem;

			&--date {
				opacity: 0.7;
				margin-right: 0.9rem;
			}
		}

		&--body {
			opacity: 0.7;
			font-size: 1.5rem;
			color: #dfdfdf;
			line-height: 2.5rem;
		}

		&__actions {
			margin-top: 2.4rem;

			&--action {
				@include mixins.links;
			}
		}
	}

	&-white {
		background-color: #fff;
		color: #000;

		&--body {
			color: #000;
			opacity: 0.6;
		}

		&--action {
			color: #000;

			&_arrow {
				stroke: #000;
			}
		}
	}
}

@include mixins.screen-tablet {
	.hero-content {
		&__content {
			&--award {
				margin-bottom: 2.4rem;
			}

			&--title {
				font-size: 4rem;
				line-height: 4.8rem;
				letter-spacing: 0.417rem;
			}
		}
	}
}
