.story {
	height: 37.5rem;
	padding: 23.6rem 3.3rem 4rem;
	color: white;

	&_date {
		font-size: 1.3rem;
		margin-bottom: 0.4rem;
		opacity: 0.9;
	}

	&_title {
		font-size: 1.8rem;
		line-height: 2.5rem;
		font-weight: 700;
		margin-bottom: 0.4rem;
	}

	&_author {
		font-size: 1.3rem;
		margin-bottom: 1.6rem;
		opacity: 0.9;
	}

	&_line {
		width: 100%;
		border-bottom: 0.1rem solid #d8d8d8;
		margin-bottom: 2rem;
		opacity: 0.7;
	}

	&_actions {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		text-decoration: none;
		color: inherit;

		&--arrow {
			stroke: white;
		}

		&--title {
			font-size: 1.2rem;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
			font-weight: 700;
		}
	}
}
