@mixin paragraph-style {
	font-size: 1.5rem;
	opacity: 0.6;
	line-height: 2.5rem;
	margin-bottom: 4rem;
}

@mixin paragraph-style-dark {
	opacity: 0.7;
	color: #dfdfdf;
}

.plans {
	padding: {
		right: 2.2rem;
		left: 2.1rem;
		top: 5.6rem;
		bottom: 4rem;
	}
	text-align: center;

	&:not(:last-child) {
		margin-bottom: 2.4rem;
	}

	background-color: #f5f5f5;

	.title {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 2.5rem;
		margin-bottom: 1.6rem;
	}

	.body,
	.period {
		@include paragraph-style();
	}

	.amount {
		font-size: 4rem;
		font-weight: 700;
		line-height: 4rem;
		letter-spacing: 0.417rem;
	}

	.button {
		padding: 1.2rem;
		width: 100%;
		font-weight: 700;
		letter-spacing: 0.2rem;
		cursor: pointer;
		border: none;
		outline: none;

		background-color: #000;
		color: white;

		&:hover {
			transform: scale(1.01);
		}

		&:active {
			transform: scale(0.99);
		}
	}

	&-dark {
		position: relative;
		background-color: #000;
		color: white;

		&::before {
			content: "";
			height: 0.6rem;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(
				26.57deg,
				#ffc593 0.42%,
				#bc7198 43.46%,
				#5a77ff 83.33%
			);
		}

		.body,
		.period {
			@include paragraph-style-dark();
		}

		.button {
			background-color: white;
			color: #000;
		}
	}
}
