@use "../abtracts/mixin" as mixins;

.main-header {
	background-color: #ffffff;
	height: 7.2rem;
	position: relative;
	z-index: 10;

	.nav {
		padding: 2.8rem 2.4rem;
		display: flex;
		justify-content: space-between;
		background-color: #ffffff;
		align-items: center;
		position: relative;
		z-index: 10;

		&__menu-btn {
			position: relative;
			height: 1rem;
			width: 2.5rem;
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
			}

			&:active {
				transform: scale(0.98);
			}

			&--burger {
				&_top {
					top: 0;
					@include mixins.transition;
					@include mixins.menu-burger-line;
				}

				&_bottom {
					bottom: 0;
					@include mixins.transition;
					@include mixins.menu-burger-line;
				}
			}
		}
	}

	&__menu-options {
		@include mixins.transition(transform);

		background-color: #ffffff;
		width: 100%;
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;

		height: 25.3rem;
		padding: 3.2rem;
		transform: translateY(-30rem);

		&__link {
			color: #000;
			text-decoration: none;
			font-size: 1.5rem;
			letter-spacing: 0.25rem;
			margin: {
				bottom: 2rem;
			}
			font-weight: 700;
		}

		&__line {
			border-bottom: 0.03rem solid #000;
			width: 100%;
			margin: {
				bottom: 2rem;
			}
		}

		&__button {
			background-color: #000;
			color: white;
			padding: 1.4rem 0rem;
			width: 100%;
			cursor: pointer;
			border: none;
			outline: none;
			font-size: 1.5rem;
			letter-spacing: 0.25rem;

			&:hover {
				transform: scale(1.01);
			}

			&:active {
				transform: scale(0.99);
			}
		}
	}
}

.open {
	.nav__menu-btn--burger_top {
		transform: rotate(45deg) translate(0.28rem, 0.27rem);
	}

	.nav__menu-btn--burger_bottom {
		transform: rotate(-45deg) translate(0.28rem, -0.27rem);
	}
}

.menu-options {
	transform: translateY(0);
}
