@mixin social_media--icon($url) {
	background: url($url) no-repeat 50%;
	background-size: cover;
	transition: background 0.35s ease-in-out;
}

@mixin links {
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
}

@mixin center-arrow($margin-left, $translate) {
	margin-left: $margin-left;
	transform: translateY($translate);
	stroke: #d8d8d8;
}

@mixin transition($element: all) {
	transition: $element 0.35s ease-in-out;
}

@mixin menu-burger-line {
	width: 100%;
	position: absolute;
	width: 100%;
	height: 0.2rem;
	background-color: #000;
}

@mixin button-click {
	&:hover {
		transform: scale(1.1);
	}

	&:active {
		transform: scale(0.98);
	}
}

@mixin before-line-gradient {
	content: "";
	position: absolute;
	width: 12.8rem;
	height: 0.6rem;
	background: linear-gradient(
		26.57deg,
		#ffc593 0.42%,
		#bc7198 43.46%,
		#5a77ff 83.33%
	);
	top: 0;
}

@mixin background-image-above-footer($url) {
	position: relative;
	background: url($url) no-repeat 50%;
	background-size: cover;
	padding: {
		top: 6.4rem;
		bottom: 6.4rem;
		left: 3.3rem;
		right: 3.2rem;
	}
}

@mixin features-title($padding-bottom: auto) {
	font-size: 1.2rem;
	padding-bottom: $padding-bottom;
	letter-spacing: 0.2rem;
	font-weight: 700;
}

@mixin horizontal-line($color) {
	border-top: 0.01rem solid $color;
}

@mixin screen-tablet {
	@media only screen and (min-width: 768px) {
		@content;
	}
}

@mixin screen-laptop {
	@media only screen and (min-width: 1024px) {
		@content;
	}
}

@mixin screen-desktop {
	@media only screen and (min-width: 1600px) {
		@content;
	}
}
